@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --fb-bg-dark: #0d4a59;
    --fb-bg-disabled: rgba(13, 74, 89, 0.8);
    --fb-bg-hover: #167f99;
    --fb-bg-primary: #1b9ebf;
    --fb-bg-highlight: #105f73;

    --bs-primary: #1b9ebf;
}

.fb-text-bg-primary {
    color: #fff;
    background-color: var(--fb-bg-primary);
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.main {
    display: flex;
    flex-direction: column;
    /* max-height: 100vh; */
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    background-color: var(--fb-bg-dark);
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

.sidebar-footer button {
    background: transparent;
    border: none;
}

a.sidebar-link,
button.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.075);
    border-left: 3px solid var(--fb-bg-hover);
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: var(--fb-bg-dark);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, 0.2);
    z-index: 1001;
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.card {
    background-color: #f5f5f5;
    color: #000;
    /* background-color: var(--fb-bg-dark);
    color: #fff; */
    transition: 0.4s;
    cursor: pointer;
    margin-top: 1rem;
}

.card:hover {
    background-image: linear-gradient(90deg, var(--fb-bg-hover) 0%, var(--fb-bg-highlight) 35%, var(--fb-bg-dark) 100%);
    /* background-color: var(--fb-bg-highlight); */
    color: #fff;
    transform: translateY(-10.5px);
}

.text-success {
    background-color: #71c664;
    padding: 0.25rem 0.35rem;
    font-size: 0.715rem;
    color: #fff !important;
    border-radius: 5px;
}

.table > thead tr {
    color: #fff !important;
    text-align: left !important;
}

tr.highlight th {
    background-color: var(--fb-bg-highlight) !important;
    color: #fff !important;
}

.content {
    flex: 1 1 auto;
}

footer {
    background-color: #f5f5f5;
    padding: 1rem 0.875rem;
}

@media (min-width: 768px) {
    .navbar form {
        max-width: 320px;
    }

    .input-group-navbar .form-control:focus {
        outline: none;
        box-shadow: 0 0 0 0 rgba(255, 255, 255);
        border: none;
    }

    .input-group-navbar .form-control {
        color: #3e4455;
    }

    .form-control::placeholder {
        background-color: #fff;
    }

    .input-group-navbar .btn {
        background-color: #727cf5;
        color: #fff;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        z-index: 10000;
    }

    .navbar-expand .navbar-nav .dropdown-menu {
        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
    }
}

.d-finbites-sm-table-cell,
.d-finbites-sm-table-header {
    display: none;
}

@media (max-width: 768px) {
    .d-finbites-sm-none {
        display: none;
    }

    .d-finbites-sm-table-cell {
        display: table-cell;
    }

    .d-finbites-sm-table-header {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        background-color: var(--fb-bg-highlight) !important;
        color: #fff !important;
    }
}

@media (max-width: 1024px) {
    .d-finbites-md-none {
        display: none;
    }
}

.btn-finbites-hover {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--fb-bg-hover);
    --bs-btn-border-color: var(--fb-bg-hover);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--fb-bg-dark);
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--fb-bg-hover);
    --bs-btn-disabled-border-color: var(--fb-bg-hover);
}

.btn-finbites-highlight {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--fb-bg-highlight);
    --bs-btn-border-color: var(--fb-bg-highlight);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--fb-bg-dark);
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--fb-bg-highlight);
    --bs-btn-disabled-border-color: var(--fb-bg-highlight);
}

.btn-finbites-edit {
    --bs-btn-color: var(--fb-bg-dark);
    --bs-btn-bg: #d9d9d9;
    --bs-btn-border-color: #d9d9d9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--fb-bg-highlight);
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d9d9d9;
    --bs-btn-disabled-border-color: #d9d9d9;
}

.btn-finbites-delete {
    --bs-btn-color: var(--fb-bg-dark);
    --bs-btn-bg: #d9d9d9;
    --bs-btn-border-color: #d9d9d9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dc3545;
    --bs-btn-hover-border-color: #a52834;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d9d9d9;
    --bs-btn-disabled-border-color: #d9d9d9;
}

.breadcrumb .breadcrumb-item a {
    color: var(--fb-bg-hover) !important;
}

.breadcrumb .breadcrumb-item a:hover {
    color: var(--fb-bg-primary) !important;
}

.breadcrumb .active {
    color: var(--bs-secondary) !important;
}

#togglePassword,
#togglePasswordConfirmation {
    transform: translateY(-10%);
}

.input-group-text {
    background-color: #fff;
}

.form-check-input:checked {
    background-color: var(--fb-bg-hover);
    border-color: var(--fb-bg-hover);
}

.dropdown-item:active {
    background-color: var(--fb-bg-hover);
}

.progress-bar {
    background-color: var(--fb-bg-primary);
}

.bg-orange {
    background-color: #efb60a;
}

.fb-bg-gradient {
    background-image: linear-gradient(90deg, var(--fb-bg-hover) 0%, var(--fb-bg-highlight) 35%, var(--fb-bg-dark) 100%);
    color: #fff;
}



/* Styling Custom Pagination */

.custom-pagination .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5px;
    align-items: center;
    margin: 0;
}

/* .custom-pagination .pagination li {
    margin: 0 5px;
} */

.custom-pagination .pagination li a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid var(--fb-bg-highlight);
    border-radius: 5px;
    color: var(--fb-bg-highlight);
}

.custom-pagination .pagination li.active span {
    text-decoration: none;
    border-radius: 5px;
    padding: 9px 12px;
    background-color: var(--fb-bg-highlight);
    color: white;
}

.custom-pagination .pagination li.disabled {
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid var(--fb-bg-highlight);
    border-radius: 5px;
    color: var(--fb-bg-highlight);
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}


/* Backdrop modal ganggu */

.modal-backdrop.fade {
    display: none;
    /* z-index: -1; */
}